body{
    background-color: bisque;
}
h1{
    color: coral;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    align-content: center;

}
h3{
    color: brown;
    font-family: cursive;
    font-size: medium;
    align-content: left;

}

    
